<form action="/product/save" method="post" enctype="multipart/form-data">
    <input type="file" name="image" multiple><br>

    <input type="file" name="thum" ><br>
    
    <input type="text" class="form-control" id="title"  name="title" placeholder="enter title"><br>

    <input type="text" class="form-control" id="description"  name="description" placeholder="enter description"><br>
    
    <input type="text" class="form-control" id="price"  name="price" placeholder="enter price"><br>

    <input type="text" class="form-control" id="discountPercantage"  name="discountPercantage" placeholder="enter discountPercantage"><br>

    <input type="text" class="form-control" id="rating"  name="rating" placeholder="enter rating"><br>

    <input type="text" class="form-control" id="stock"  name="stock" placeholder="enter stock"><br>

    <input type="text" class="form-control" id="keyword"  name="keyword" placeholder="enter keyword"><br>
  
    <!-- <select name="categoryId" class="form-control">
        <option>Select Category</option>
        <option value="">rajsthani</option> 
    </select><br>
    <select name="sellerId" class="form-control">
        <option>Select seller</option>
        <option value="">vikram</option>      
    </select><br><br> -->
    
    <input type="submit" value="Upload">

</form>